.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    position: relative;
}
.btn{
    height: 48px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn-map{
    color: #FFFFFF;
    background: #18397A;
    width: 133px;
    margin-bottom: 20px;
}
.btn-locations{
    width: 198px;
    color: #18397A;
    background: none;
    border: 1px solid #18397A;
}
.cross{
    cursor: pointer;
}

